body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background: url('../assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .container {
    /* max-width: 600px; */
    background-color: rgba(16, 13, 13, 0.65);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    /* padding: 10px; */
    margin-top: 30px;
    
  }
  
  h1 {
    font-size: 3rem;
    color: orange;
    margin-bottom: 30px;
    align-items: center;
    /* color: #000000; */
  }

  h2{
    color: #00b300;
    font-size: 2.5rem;
  }
  

  label {
    display: block;
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #000000;
    background-color: rgb(255, 255, 255); 
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #00e600;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00b300;
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    transform: translateY(2px);
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  button {
    width: 50%; 
    padding: 10px; 
    background-color: #00e600;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto; 
  }
  
  .container.mt-5 {
    max-width: 500px;
  }
  .btn.btn-primary{
    margin-top: 20px;
  }
  